{% extends 'AppTerceraPreEntrega/base.html' %}

{% block titulo %}
    Inicio
{% endblock titulo %}

{% block header_text %}
    Página de inicio
{% endblock header_text %}

{% block contenido %}
       <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bienvenido a la página de inicio del proyecto</h1>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-2">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Búsqueda de canciones por premios !!</h3>
                            <p class="lead mb-0">En este apartado buscar las canciones por premios</p>
                            <a href="{% url 'busqueda-premios' %}">Canciones por premios</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-2">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Búsqueda de pintura por valor !!</h3>
                            <p class="lead mb-0">En este apartado buscar las pinturas por valor</p>
                            <a href="{% url 'busqueda-valor' %}">Pinturas por valor</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-2">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Búsqueda de videojuegos por colección !!</h3>
                            <p class="lead mb-0">En este apartado puedes buscar los videojuegos por colección</p>
                            <a href="{% url 'busqueda-coleccion' %}">Videojuegos por colección</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock contenido %}